<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Are You My Follower?</title>

<!-- Bootstrap Core CSS -->
<link href="/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<!-- Theme CSS -->
<link href="/static/css/grayscale.css" rel="stylesheet">


<link href="/static/css/c3.css" rel="stylesheet">
<!-- Load d3.js and c3.js -->
<!-- <script src="/path/to/d3.v4.min.js" charset="utf-8"></script> -->
<script src="https://d3js.org/d3.v5.js"></script>
<script src="/static/js/c3.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i> <span class="light">Begin</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                <a href="#page-top"></a>
                </li>
                <li>
                <a class="page-scroll" href="#motivation">Motivation</a>
                </li>
                <li>
                <a class="page-scroll" href="#detect">Run App</a>
                </li>
                <li>
                <a class="page-scroll" href="#algorithms">Implementation</a>
                </li>
                <li>
                <a class="page-scroll" href="#analysis">Analysis</a>
                </li>
                <li>
                <a class="page-scroll" href="#about">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Are You My Follower?</h1>
                    <p class="intro-text">
                    A Twitter Bot Detector
                    <br>Created by Vincent Xue</p>
                    <a href="#motivation" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>






<!-- Motivation Section -->
<section id="motivation" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Motivation</h2>
            <p>Social media revolutionizes the spread of news and information in our current society. Given the speed and wealth of content now consumable, individuals are increasingly looking towards social media to form their opinions. Social media platforms like Twitter and Facebook now have huge influence on the economy, politics, and society. Given the potential impacts that social media has on these sectors, there is also an increase in malicious actors who aim to manipulate public opinion for a specific agenda. A political example is demonstrated by the recent identification of Russian-linked Facebook ads during the presidential election. </p>

            <p> As content consumers, we would like to survey an unbiased landscape but this reality is very skewed by the presences of individuals who aim to manipulate public opinions. Given the potential influence of bad actors on social media, it is important to identify these social spammers. </p>

            <a href="#detect" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-down animated"></i>
            </a>

        </div>
    </div>
</section>




<!-- detect Section -->
<section id="detect" class="download-section content-section text-center">

<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<script>



        function start_long_task() {


            // add task status elements

            // create a progress bar

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/longtask',
                data: {twitterUser: document.getElementById('twitterUserName').value },
                success: function(data, status, request) {
                    status_url = request.getResponseHeader('Location');
                    update_progress(status_url, nanobar, div[0]);
                },
                error: function() {
                    alert('Unexpected error');
                }
            });
        }
        function update_progress(status_url, nanobar, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                percent = parseInt(data['current'] * 100 / data['total']);
                //nanobar.go(percent);


                //$(status_div.childNodes[1]).text(percent + '%');
                $(status_div.childNodes[1]).text(data['status']);
                if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                    if ('result' in data) {
                        // show result
                        //$(status_div.childNodes[3]).text('Result: ' + data['result']);

                        userHandle = data['result']

                        nanobar.go(0)
                        
                        twitterLink =$('<a href="http://www.twitter.com/'+ userHandle + '" target="_blank">' + userHandle + ' '+ percent + '</a>')
                        scoredUser = $('<div></div>');
                        $(scoredUser[0]).append(twitterLink)
                        //$(scoredUser[0].childNodes[0]).text(userHandle +":" + percent)
                        $('#recordUsers').append(scoredUser);


                        chart.load({columns: [['Probability of Bot', percent]]});
                    }
                    else {
                        // something unexpected happened
                        $(status_div.childNodes[3]).text('Result: ' + data['state']);
                    }
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, nanobar, status_div);
                    }, 2000);
                }
            });
        }
        $(function() {
            $('#start-bg-job').click(start_long_task);
        });
    </script>


    <div class="row">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Test Twitter Handle</h2>
                <p>Score a user for how botlike their twitter activity is.</p>

                <form id='input' method='POST'>       
                    <p>Twitter Username: <input class='inputTextBox' type='text' id='twitterUserName' name='twitterUserName' value='SolarCollective' /></p>
                </form>

                
                <div id="chart">
                <script> 
                $("#input").submit(function(e){
                    start_long_task();
                    e.preventDefault();
                });
                </script>
                <script src="/static/js/chart_gauge.js"></script>
                </div>
                
                <div id="progress" class="col-lg-8 col-lg-offset-2"></div>


                <script>
                // add task status elements
                 div = $('<div><div></div><p>...</p></div>');
                 $('#progress').append(div);
                 // create a progress bar
                 var nanobar = new Nanobar({
                    bg: '#44f',
                    target: div[0].childNodes[0],
                    id: 'nanoBar'
                 });
                </script>

                
                <button id="start-bg-job" class="btn btn-default btn-lg">Score Twitter User</button><br><br>

                <div id="recordUsers"></div>

 
                <a href="#algorithms" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-down animated"></i>
                </a>	

            </div>
        </div>
    </div>
</section>

</section>

<section id="algorithms" class="container content-section text-center">
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Model</h2>
            <p><img width=60% src="/static/img/logisticRegression.png"> </p>
                <p>A logistic regression model was applied to classify real users from fake users. Real and fake users were identified by previous studies that applied honeypot (baiting) tactics and manual human curation.</p>
        </div>
    </div>
    <a href="#analysis" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-down animated"></i>
    </a>	
    </div>
</section>

<section id="analysis" class="container content-section text-center">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-interval="false" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active" style="min-height: 600px;">
                    <div class="header-text">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <h2>Feature Weights</h2>
                            <p><img width=70% src="/static/img/model_stats.png">
                            </p>
                            <p> The weights from the logistic regression model are plotted. The number of followers is an important feature for the classification of twitter users. </p>
                            <p> </p>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="item" style="min-height: 600px;">
                    <div class="header-text">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <h2>Cross-Validation</h2>
                            <p> <img width=70% src="/static/img/cross-validation.png">
                            </p>
                            <p>Model hyperparameters were explored to find an optimal model. The models achieved high accuracy in cross-validation.</p>
                            <p> </p>
                        </div>
                    </div>
                </div>
                <div class="item" style="min-height: 600px;">
                    <div class="header-text ">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <h2>Extrapolation to more data</h2>
                            <p> <img width=35% src = "/static/img/confusion_matrix.png">
                            </p>
                            <p> The final model was used to evaluate a dataset external collected from another study. A balanced set of real and fake users were evaluated (835 in each group). The confusion matrix shows that models can extrapolate to new data.
                            <p> </p>

                        </div>
                    </div>
                </div>
                <div class="item" style="min-height: 600px;">
                    <div class="header-text">
                        <div class="col-md-10  col-md-offset-1 text-center">
                            <h2>Data Sources</h2>
                            <p></p><p></p>
                            <p>Models were trained and tested on datasets referenced below. </p>
                            <p> </p>
                            <p>Lee, Kyumin, Brian David Eoff, and James Caverlee. "Seven Months with the Devils: A Long-Term Study of Content Polluters on Twitter." ICWSM. 2011.
</p>
<p> Cresci, S., Di Pietro, R., Petrocchi, M., Spognardi, A., and Tesconi, M. (2017, April). The paradigm-shift of social spambots: Evidence, theories, and tools for the arms race. In Proceedings of the 26th International Conference on World Wide Web Companion (pp. 963-972). ACM </p>
                        </div>
                    </div>
                </div>
                <div class="item" style="min-height: 600px;">
                    <div class="header-text hidden-xs">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <h2>What's next?</h2>
                            <p> <img width=50% src = "/static/img/network.png">
                            </p>
                            <p> Analysis of Twitter bot networks </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div><!-- /carousel -->

        <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-down animated"></i>
        </a>	
    </div>
</section>


<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>About This App</h2>
            <p>'Are You My Follower?' is a capstone project implemented by Vincent Xue for The Data Incubator. The webapp applies machine learning to detect whether or not a Twitter user is likely a bot or not. The webapp was built with flask and celery. All machine learning models were implemented with sklearn. </p>
            <p>Vincent Xue received his Ph.D. from the Massachusetts Institute of Technology in Computational Biology.</p>

            <p>Email me to provide some feedback, or give suggestions for the webapp!</p>

            <p><a href="mailto:xue.vin@gmail.com">xue.vin@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                <a href="https://twitter.com/xuevin" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li>
                <a href="https://github.com/xuevin/tweetscan" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
            </ul>
            <p>
            </p>

        </div>
    </div>
</section>



<!-- Map Section -->
<!--<div id="map"></div> -->

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Vincent Xue 2018</p>
    </div>
</footer>

<!-- jQuery -->
<script src="/static/vendor/jquery/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->

<!-- Theme JavaScript -->
<script src="/static/js/grayscale.min.js"></script>

</body>

</html>
